
<div class="hero">
  <div class="container-fluid" id="hero">
    <div class="row">
      <div class="col-lg-12 col-sm-6 signup-cta">
        <div class="signup-title center">
          Sign up to schedule your first trip.
        </div>

        <form class="form-inline col-lg-6 col-lg-offset-4" role="form" id="new_user" action="/beta_signup" accept-charset="UTF-8" method="post">
<!--             <input name="utf8" type="hidden" value="&#x2713;" />
            <input type="hidden" name="authenticity_token" value="HfFbm5l691yWIJfaFEET3ss++pmXfpK8P/TM6wmxuJt//tnqoWVfXDh01SSK7KmNwxRhuP+Iu9LlQQrhLMdKIA==" />
 -->
            <div class="form-group">
              <div class="input-group input-group-lg">
                <label class="sr-only" for="user_email">Email</label>
                <input placeholder="Enter Email" class="form-control" id="topbox" type="email" value="" name="user[email]" /><input name="ref" type="hidden" />
              </div>
            </div>
            <input type="submit" name="commit" value="Get Early Access" class="btn btn-purple btn-lg" />
            <img class="logo" src="https://s3.amazonaws.com/farefeedback/FFB-favicon.png" alt="logo" />
        </form>
        <div class="col-lg-12 col-sm-6 center instructions">Don't worry, we don't spam   </div>
      </div>
    </div>
  </div>
</div>

<h2>Sign up</h2>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, class:"input-group input-group-lg", placeholder:"Enter Email"  %>
    <%= hidden_field_tag 'ga_client_id', '', :class => 'ga-client-id' %>
  </div>

  <div class="actions">
    <%= f.submit "Get Early Access", class:"btn btn-purple btn-lg" %>
  </div>
<% end %>

<!-- %= render "devise/shared/links" %> -->
