<!DOCTYPE html>
<html>
<head>
  <title>Fare Feedback</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="https://s3.amazonaws.com/farefeedback/FFB-favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"  crossorigin="anonymous"></script>
  <%= csrf_meta_tags %>

  <!-- GOOGLE ANALYTICS TRACKING -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77414264-1', 'auto');
  ga('send', 'pageview');

</script>


</head>
<body>
  <div class="above-nav-header">

  </div>
  <nav class="navbar navbar-default sticky-header">
    <div class="container-nav">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <span class="glyphicon glyphicon-home"></span>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/how-it-works">How it works<span class="sr-only">(current)</span></a></li>
          <!-- <li><a href=/archives>Recent Posts</a></li> -->
          <li><a href=/about>About Us</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li> <%= link_to 'Sign up', new_user_path %></li>
          <li>
            <!-- %= link_to 'Log in', new_user_session_path %> -->
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<div class="container-fluid">
    <div id="header-branding">
    <% if notice || alert %>
        <p id="notice"><%= notice %></p>
        <p class="alert-danger"><%= alert %></p>
    <%end%>
    <% if flash[:success] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:success] %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <% end %>
    <% if flash[:info] %>
    <div class="alert alert-info" role="alert">
      <%= flash[:info] %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <% end %>
    <% if flash[:warning] %>
    <div class="alert alert-warning" role="alert">
      <%= flash[:warning] %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <% end %>
    <% if flash[:danger] %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:danger] %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <% end %>
  </div>
  <div class="content-container">
  <%= yield %>
  </div>
</div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-0"></div>
                <div class="col-lg-8 col-sm-6 footer">
                    <ul class="list-inline">
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/services">Terms & Conditions</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/privacy">Privacy Policy</a>
                        </li>
                        <li class="copyright text-muted small">
                        Copyright &copy; Fare Feedback, LLC 2016. All Rights Reserved
                        </li>
                    </ul>
                </div>
                    <div class="col-lg-2 col-sm-0"></div>
            </div>
        </div>
    </footer>

</body>
</html>
